nav#navBar.nav-down
    article.level1.bB.w1.h100.flex
      a(href='#top' style='width: 60px; height: 60px;')#logoSquare.sC.darkBlue.tW.tW WH
      ul(style='flex-wrap: nowrap;').nav.level1.flex.flexRow.w1.h100.sideScroll
        li.sC.w1
          a(href='#gifts')#galleryMenuButton.navLink.caps.h100.w1.sC.mM.nW Gift Shop
        li.sC.w1
          a#visitMenuButton.menuButtons.caps.h100.w1.sC.mM.nW Visit
        li.sC.w1
          a#bespokeMenuButton.menuButtons.caps.h100.w1.sC.mM.nW Gallery
        li.sC.w1
          a#fieldNotesMenuButton.menuButtons.caps.h100.w1.sC.mM.nW Field Notes
        li.sC.w1
          a#befriendMenuButton.menuButtons.caps.h100.w1.sC.mM.nW Befriend
    menu#menuBar.level2.wB.level2menus.hide
      section.sideScroll
        ul(style='flex-wrap: nowrap;')#menuVisit.menus.nav.level2.flex.flexRow.h100
          li.sC.w1
            a(href='#studioTour').caps.h100.w1.sC.mM.nW Studio Tour
          li.sC.w1
            a(href='#retreat').caps.h100.w1.sC.mM.nW Retreat
          li.sC.w1
            a(href='#camp').caps.h100.w1.sC.mM.nW Camp
          li.sC.w1
            a(href='#events').caps.h100.w1.sC.mM.nW Events
    menu#menuBar.level2.hSWB.level2menus.hide
      section.sideScroll
        ul(style='flex-wrap: nowrap;')#menuBespoke.menus.nav.level2.flex.flexRow.h100
          li.sC.w1
            a(href='#birdhouses').caps.h100.w1.sC.mM.nW Birdhouses
          li.sC.w1
            a(href='#gifts').caps.h100.w1.sC.mM.nW Gifts
    menu#menuBar.level2.hSWB.level2menus.hide
      section.sideScroll
        ul(style='flex-wrap: nowrap;')#menuFieldNotes.menus.nav.level2.flex.flexRow.h100
          li.sC.w1
            a(href='#news').caps.h100.w1.sC.mM.nW News
          li.sC.w1
            a(href='https://birdhousestudio.tumblr.com').caps.h100.w1.sC.mM.nW More→
    menu#menuBar.level2.hSWB.level2menus.hide
      section.sideScroll
        ul(style='flex-wrap: nowrap;')#menuBefriend.menus.nav.level2.flex.flexRow.h100
          li.sC.w1
            a(href='#social').caps.h100.w1.sC.mM.nW Social Media
          li.sC.w1
            a(href='#direct').caps.h100.w1.sC.mM.nW Direct