meta(property='og:locale' content='en_US')
meta(property='og:site_name' content='Waterbury Hill - Birdhouse Studio')
meta(property='og:title' content=`${newsTitles[0]}`)
meta(property='og:type' content=`website`)
meta(property='og:url' content=`https://BirdhouseStudio.herokuapp.com`)
meta(property='og:image' content='https://64.media.tumblr.com/170d169fe0f0324eee8fa8536c21eff4/63f619921cb384af-a2/s540x810/8855ed2bf8dec9b8fc126f5a6532a28c882e4057.jpg')
meta(property='og:description' content=`Something really special from Waterbury Hill, Homestead & Crafter's Studio: Signature gift products— The original one-of-a-kind, American-made rustic birdhouse | Assemblage art, upcycled, authentic nesting boxes | Article: ${newsTitles[0]}`)