margin.col-12.col-sm-2
item.col-12.px-4.col-sm-4
    include socials
item.col-12.col-sm-4
    ul.sexy.sM.pt-5.pt-md-0
        li 
            a(href='#findUs').tB
                i.d-none.d-sm-inline.fa-solid.fa-location-dot.footerIcons &nbsp;
                | Find us
        li 
            a(href='#events').tB
                i.d-none.d-sm-inline.fa-solid.fa-calendar-days.footerIcons &nbsp;
                | Events
        li 
            a(href='#news').tB
                i.d-none.d-sm-inline.fa-solid.fa-newspaper.footerIcons &nbsp;
                | News
        li 
            a(href='#gifts').tB
                i.d-none.d-sm-inline.fa-solid.fa-gift.footerIcons &nbsp;
                | Gift shop
        li 
            a.tB(href='https://www.picktime.com/c6955d53-277d-4df8-8eaa-d3f1f0ee95a6' class='ptbkbtn' target='_blank' style='float:none;')
                i.d-none.d-sm-inline.fa-brands.fa-fort-awesome.footerIcons &nbsp;
                | Visit
margin.col-12.col-sm-2
item.col-12.flex.flexJustifyEnd.py-3
    div.outlined.textAlignCenter
        include cart 
        | My gifts