a.noHover(target='_BLANK' href="https://www.pinterest.com/waterburyhill/").tumblr
    img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/teaOSXqaxuRJQPfguVRnlMvw' alt='Waterbury Hill on Pinterest').socials
a.noHover(target='_BLANK' href="https://birdhousestudio.tumblr.com").tumblr
    img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/MzcphckOtgNcfaCWWMTFWTqW' alt='Waterbury Hill on Tumblr').socials
a.noHover(target='_BLANK' href="https://t.me/WaterburyHill").telegram
    img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/jpDAaUblQOXchSJzPKHXRlpS' alt='Waterbury Hill on Telegram').socials
a.noHover(target='_BLANK' href="https://gab.com/waterburyhill").gab
    img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/OItnYjzufLGGJkjeNfKBnPVF' alt=`Waterbury Hill on Gab`).socials
a.noHover(target='_BLANK' href="https://waterburyhill.blogspot.com/").facebook
    img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/CmnMpuIjTJIGmooINvfxqjSI' alt='Waterbury Hill on Blogger').socials
a.noHover(target='_BLANK' href="mailto:waterburyhill@protonmail.com").email
    img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/hakXcKyERGfNQzQdLCdJvhwp' alt='email Waterbury Hill').socials
a.noHover(target='_BLANK' href="https://twitter.com/waterburyhillwa").twitter
    img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/YJGFsTofAbmgHYoTMyybZBwL' alt=`Waterbury Hill on Twitter`).socials