h1.w1.textAlignCenter.sM.borderColorWhite Made in America
p.diminutive.initial Waterbury Hill signature gift products are 100% designed and made in America. To us, this really means something—more than a commercial slogan or even, dare we say, 
    a(href='https://www.ftc.gov/news-events/topics/tools-consumers/made-usa' target='_BLANK') the letter of the law.

p.diminutive What does it 
    i really 
    | mean to be made in the USA: Beyond sourcing materials and labor far exceeding minimum standards according to the FTC, being made in America says that the artifice actually is a part of America.  In essence, we imbue each hand-crafted gift with the spirit of American exceptionalism.  This is to say, before leaving one of our studios for market, each piece is finished inidividually
p.diminutive Like each American, each Waterbury Hill signature gift product is a priceless one-off.
img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/QEmKfdIQUoeotTvkdCWhqSlj' style='width: 100%; border-radius: 4.5px;')